<menu></menu>

<br>
<div class="container">
    <h4>Kinder Garden</h4>
    <div id="search">
        <md-input-container class="col-8 example-full-width">
          <input mdInput placeholder="Buscar escuela">
        </md-input-container>
        <md-select placeholder="Favorite food" class="col-3">
            <md-option *ngFor="let food of foods" [value]="food.value">
                {{ food.viewValue }}
            </md-option>
        </md-select>
    </div>
    <table class="table">
    <thead class="thead-inverse">
        <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Distrito</th>
        <th>Pension</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let garden of gardens">
        <th scope="row"></th>
        <td>{{garden.nameSchool}}</td>
        <td>-</td>
        <td>@-</td>
        </tr>
    </tbody>
    </table>
</div>