<menu></menu>
<!-- Dashboard -->
<div id="dashboard">
  <div class="row">
    <div class="col-md-3 card text-center" id="salud">
      <div class="card-header">
        Salud
      </div>
      <div class="card-block">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/salud" class="btn btn-primary">Ver detalles</a>
      </div>
      <div class="card-footer text-muted">
        Actualizado hace 5 días
      </div>
    </div>

    <div class="col-md-3 card text-center" id="alimentacion">
      <div class="card-header">
        Alimentación
      </div>
      <div class="card-block">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/alimentacion" class="btn btn-primary">Ver detalles</a>
      </div>
      <div class="card-footer text-muted">
        Actualizado hace 5 días
      </div>
    </div>

    <div class="col-md-3 card text-center" id="educacion">
      <div class="card-header">
        Educación
      </div>
      <div class="card-block">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/educacion" class="btn btn-primary">Ver detalles</a>
      </div>
      <div class="card-footer text-muted">
        Actualizado hace 5 días
      </div>
    </div>
  </div>
</div>
