#mainMenu.base {
  z-index: 90;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #FFFFFF;
  width: 98px;
  height: 98px;
  transition: all 1s cubic-bezier(0.5, -0.75, 0.05, 1);
  border-bottom-right-radius: 100%;
}
#mainMenu.base .menu {
  z-index: 100;
  background-color: darkorange;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  border-bottom-right-radius: 200px;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.5, -0.75, 0.05, 1), background-color 1s ease;
}
#mainMenu.base .menu .icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -100%);
}
#mainMenu.base .menu .icon:before, #mainMenu.base .menu .icon:after {
  content: '';
  transform: rotate(0deg);
  transition: top 0.5s ease 0.5s, transform 0.5s ease, background-color 0.75s ease 0.25s;
}
#mainMenu.base .menu .icon .bar, #mainMenu.base .menu .icon:before, #mainMenu.base .menu .icon:after {
  position: absolute;
  height: 5px;
  left: 0px;
  right: 0px;
  border-radius: 5px;
  background-color: #21264B;
}
#mainMenu.base .menu .icon .bar {
  transition: opacity 0s linear 0.5s, background-color 0.75s ease 0.25s;
  opacity: 1;
  top: 10px;
}
#mainMenu.base .menu .icon:before {
  top: 0px;
}
#mainMenu.base .menu .icon:after {
  top: initial;
  top: 20px;
}
#mainMenu.base .icons {
  z-index: 98;
  position: absolute;
  top: 0px;
  left: 0px;
}
#mainMenu.base .icons > * {
  position: absolute;
  font-size: 40px;
  color: #21264B;
  transition: 0.3s cubic-bezier(0.5, -0.25, 0.05, 1);
}
#mainMenu.base .icons .fa-user {
  top: 35px;
  left: 0px;
  transition-delay: 0.2s;
}
#mainMenu.base .icons .fa-calendar-o {
  top: 0px;
  left: 0px;
  color: #fff;
  transition-delay: 0.1s;
}
#mainMenu.base .icons .fa-tachometer {
  top: 0px;
  left: 35px;
}
#mainMenu.base .section {
  z-index: 96;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 0px;
  width: 0px;
  transform-origin: 100% 100%;
  transform: rotate(135deg);
}
#mainMenu.base .section .cover1 {
  transform-origin: 100% 100%;
}
#mainMenu.base .section .cover1,
#mainMenu.base .section .cover1 .cover2,
#mainMenu.base .section .cover1 .cover2 .content {
  position: absolute;
  width: 600px;
  height: 600px;
}
#mainMenu.base .section .cover1,
#mainMenu.base .section .cover1 .cover2 {
  top: 50%;
  left: 50%;
  transform: translate(-100%, -100%) rotate(4deg);
  overflow: hidden;
  pointer-events: none;
  transition: transform 0.5s ease-in;
}
#mainMenu.base .section .cover1 .cover2 {
  transform: translate(50%, -50%) rotate(-8deg);
  transform-origin: 0% 100%;
}
#mainMenu.base .section .cover1 .cover2 .content {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: #EE1B59;
  top: 100%;
  left: 0%;
  transform: translate(-50%, -50%);
  transition: background-color 0s, width 1.5s cubic-bezier(0.5, -0.5, 0.05, 1) 0s, height 1.5s cubic-bezier(0.5, -0.5, 0.05, 1) 0s;
  pointer-events: auto;
}
#mainMenu.base .section-static {
  z-index: 94;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0% 0%;
  transition: width 1s cubic-bezier(0.5, -0.75, 0.05, 1), height 1s cubic-bezier(0.5, -0.75, 0.05, 1);
}
#mainMenu.base .section-static:hover {
  background-color: #EAEAEA;
}
#mainMenu.base .section-static.top {
  transform: rotate(-45deg);
  border-bottom-right-radius: 400px;
}
#mainMenu.base .section-static.bottom {
  transform: rotate(45deg);
  border-bottom-right-radius: 400px;
}
#mainMenu.base.close {
  width: 300px;
  height: 300px;
  opacity: .9;
  transition: all 1.25s cubic-bezier(0.5, 0, 0.05, 1.75);
}
#mainMenu.base.close .menu {
  width: 150px;
  height: 150px;
  transition: all 1s cubic-bezier(0.5, 0, 0.05, 1.75), background-color 1s ease;
  background-color: #21264B;
}
#mainMenu.base.close .menu .icon .bar, #mainMenu.base.close .menu .icon:before, #mainMenu.base.close .menu .icon:after {
  background-color: #FFFFFF;
}
#mainMenu.base.close .menu .icon .bar {
  opacity: 0;
}
#mainMenu.base.close .menu .icon:before, #mainMenu.base.close .menu .icon:after {
  transition: top 0.5s linear, transform 0.5s ease 0.5s, background-color 0.75s ease 0.25s;
}
#mainMenu.base.close .menu .icon:before {
  top: 10px;
  transform: rotate(-45deg);
}
#mainMenu.base.close .menu .icon:after {
  top: 10px;
  transform: rotate(45deg);
}
#mainMenu.base.close .icons {
  position: absolute;
  top: 0px;
  left: 0px;
}
#mainMenu.base.close .icons > * {
  position: absolute;
  font-size: 40px;
  color: #21264B;
  transition: 0.3s cubic-bezier(0.5, 0, 0.05, 1.75) 0.7s;
  pointer-events: none;
}
#mainMenu.base.close .icons .fa-user {
  top: 35px;
  left: 200px;
}
#mainMenu.base.close .icons .fa-calendar-o {
  top: 141px;
  left: 141px;
  color: #fff;
  transition-delay: 0.65s;
}
#mainMenu.base.close .icons .fa-tachometer {
  top: 200px;
  left: 35px;
  transition-delay: 0.8s;
}
#mainMenu.base.close .section .cover1 {
  transform-origin: 100% 100%;
}
#mainMenu.base.close .section .cover1,
#mainMenu.base.close .section .cover1 .cover2,
#mainMenu.base.close .section .cover1 .cover2 .content {
  position: absolute;
  width: 600px;
  height: 600px;
}
#mainMenu.base.close .section .cover1,
#mainMenu.base.close .section .cover1 .cover2 {
  top: 50%;
  left: 50%;
  transform: translate(-100%, -100%) rotate(16deg);
  overflow: hidden;
  transition: transform 0.5s ease-in 0.5s;
}
#mainMenu.base.close .section .cover1 .cover2 {
  transform: translate(50%, -50%) rotate(-32deg);
  transform-origin: 0% 100%;
}
#mainMenu.base.close .section .cover1 .cover2 .content {
  border-radius: 100%;
  background-color: #EE1B59;
  top: 100%;
  left: 0%;
  transform: translate(-50%, -50%);
  transition: background-color 0s, width 1.1s cubic-bezier(0.5, 0, 0.05, 1.75) 0.25s, height 1.1s cubic-bezier(0.5, 0, 0.05, 2) 0.25s;
}
#mainMenu.base.close .section .cover1 .cover2 .content:hover {
  background-color: #DD1350;
}
#mainMenu.base.close .section-static {
  width: 300px;
  height: 300px;
  transition: width 1.25s cubic-bezier(0.5, 0, 0.05, 2), height 1.25s cubic-bezier(0.5, 0, 0.05, 2);
}
.cover2 h4{
	color: black;
	position: absolute;
    margin-top: 380px;
    z-index: 999999;
    margin-left: 21px;
    -webkit-transform: rotate(-77deg);
}
.section-static.top h4 {
	 color: black;
    margin-top: 249px;
    z-index: 999999;
    margin-left: 10px;
    -webkit-transform: rotate(63deg);
    transform: rotate(63deg);
   /* transition: transform 0.5s ease-in 0.5s, -webkit-transform 0.5s ease-in 0.5s;
        transform: translate(-50%, -50%);
    transition: background-color 0s, width 1.1s cubic-bezier(0.5, 0, 0.05, 1.75) 0.25s, height 1.1s cubic-bezier(0.5, 0, 0.05, 2) 0.25s;*/
}
.section-static.bottom h4 {
    color: black;
    margin-top: 124px;
    z-index: 999999;
    margin-left: 120px;
    -webkit-transform: rotate(63deg);
    transform: rotate(34deg);

   /* transition: transform 0.5s ease-in 0.5s, -webkit-transform 0.5s ease-in 0.5s;
        transform: translate(-50%, -50%);
    transition: background-color 0s, width 1.1s cubic-bezier(0.5, 0, 0.05, 1.75) 0.25s, height 1.1s cubic-bezier(0.5, 0, 0.05, 2) 0.25s;*/
}
/*	color: black;
	margin-top: 181px !important;
    margin-left: 85px !important;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg); 
    transform: rotate(7deg);*/

