<div class="panels">
<div class="panels__container">
  <a href="#" class="panel">
    <div class="panel__content" style="background-image: url(https://unsplash.it/1100/1100/?image=1007); background-position: 46% center;">
    <h3 class="panel__title">0 - 6 meses</h3>
    </div>
  </a>
  <a href="#" class="panel">
    <div class="panel__content" style="background-image: url(https://unsplash.it/1100/1100/?image=883)">
    <h3 class="panel__title">6 - 12 meses</h3>
    </div>
  </a>
</div>
</div>
<div class="panels">
<div class="panels__container">
  <a href="#" class="panel">
    <div class="panel__content" style="background-image: url(https://unsplash.it/1100/1100/?image=1007); background-position: 46% center;">
    <h3 class="panel__title">12 - 24 meses</h3>
    </div>
  </a>
  <a href="#" class="panel">
    <div class="panel__content" style="background-image: url(https://unsplash.it/1100/1100/?image=883)">
    <h3 class="panel__title">24 - 36 meses</h3>
    </div>
  </a>
</div>
</div>
<!--  -->
