<menu></menu>
<div class="panels">
<div class="panels__container">
  <a *ngFor="let date of date1" routerLink="{{(date.id === 1) ? '06m' : ''}}" class="panel">
    <div class="panel__content" style="background-image: url(https://unsplash.it/1100/1100/?image=1007); background-position: 46% center;">
    <h3 class="panel__title">{{date.inicio}} - {{date.fin}} meses</h3>
    </div>
  </a>
</div>
</div>
<div class="panels">
<div class="panels__container">
  <a *ngFor="let item of date2"href="#" class="panel">
    <div class="panel__content" style="background-image: url(https://unsplash.it/1100/1100/?image=1007); background-position: 46% center;">
    <h3 class="panel__title">{{item.inicio}} - {{item.fin}} meses</h3>
    </div>
  </a>
</div>
</div>
<!--  -->
