 <div class="tab row">
  <button class="tablinks col-4" (click)="openCity(event, 'peso')">Peso</button>
  <button class="tablinks col-4" (click)="openCity(event, 'talla')">Talla</button>
  <button class="tablinks col-4" (click)="openCity(event, 'otros')">Otros</button>
</div>

<div id="peso" class="tabcontent">
		<div class="row head">
			<h3>Peso</h3><br>
 			 <p>(*) Administra el control de peso de tu bebe.</p>
		</div>
	<div class="row mainPeso">
		<div class="col-xs-12 col-md-6">
			<form class="col-12"
			#userFormWeight = "ngForm" (ngSubmit) = "SaveWeight(userFormWeight.value)">
			<div class="input-date">
				<label>Fecha del último pesaje</label><br>
			  	<input type="date" name="fecha" ngModel>
			</div>
			  	<md-input-container>
			  <input mdInput placeholder="Ingresa el peso (KG)" name="peso" value="" ngModel>
			</md-input-container>

			<button type="submit" value="submit" class="btn btn-primary btn-lg btn-block">Guardar peso</button>
			</form>
		</div>
		<div class="col-xs-12 col-md-6">
			<table class="table table-bordered">
			  <thead class="thead-inverse">
			    <tr>
			      <th>#</th>
			      <th>Fecha</th>
			      <th>Peso</th>
			    </tr>
			  </thead>
			  <tbody>
			  <tr *ngFor="let register of Registers">
			  	<th>{{register.id}}</th>
			  	<td>{{register.fecha}}</td>
			  	<td>{{register.peso}}</td>
			  </tr>
			   <!--  <tr>
			      <th scope="row">1</th>
			      <td>Otto</td>
			      <td>@mdo</td>
			    </tr> -->
			  </tbody>
			</table>
		</div>		
	</div>  
</div>

<div id="talla" class="tabcontent">
   <div class="row head">
			<h3>Talla</h3><br>
 			 <p>(*) Administra el control de talla de tu bebe.</p>
		</div>
	<div class="row mainPeso">
		<div class="col-xs-12 col-md-6">
			<form class="col-12"
			#userFormSize = "ngForm" (ngSubmit) = "SaveSize(userFormSize.value)">
			<div class="input-date">
				<label>Fecha</label><br>
			  	<input type="date" name="fecha" ngModel>
			</div>
			  	<md-input-container>
			  <input mdInput placeholder="Ingresa la talla" name="talla" value="" ngModel>
			</md-input-container>

			<button type="submit" value="submit" class="btn btn-primary btn-lg btn-block">Guardar talla</button>
			</form>
		</div>
		<div class="col-xs-12 col-md-6">
			<table class="table table-bordered">
			  <thead class="thead-inverse">
			    <tr>
			      <th>#</th>
			      <th>Fecha</th>
			      <th>Talla</th>
			    </tr>
			  </thead>
			  <tbody>
			  <tr *ngFor="let size of RegisterSize">
			  	<th>{{size.id}}</th>
			  	<td>{{size.fecha}}</td>
			  	<td>{{size.talla}}</td>
			  </tr>
			  </tbody>
			</table>
			<div id="empty" *ngIf="emptyBlock">
				<h2 styl="text-align: center;">No tiene registros</h2>
			</div>
		</div>		
	</div>
</div>

<div id="otros" class="tabcontent">
  <h3>Otros</h3>
  <p>En construccion</p>
</div>
