 <div class="tab row">
  <button class="tablinks col-4" (click)="openCity(event, 'peso')">Peso</button>
  <button class="tablinks col-4" (click)="openCity(event, 'talla')">Talla</button>
  <button class="tablinks col-4" (click)="openCity(event, 'otros')">Otros</button>
</div>

<div id="peso" class="tabcontent">
		<div class="row head">
			<h3>Peso</h3><br>
 			 <p>(*) Administra el control de peso de tu bebe.</p>
		</div>
	<div class="row mainPeso">
		<div class="col-xs-12 col-md-6">
			<form class="col-12">
			<div class="input-date">
				<label>Fecha del último pesaje</label><br>
			  	<input type="date" name="fecha" ngModel>
			</div>
			  	<md-input-container>
			  <input mdInput placeholder="Ingresa el peso (KG)" name="model.peso" value="" ngModel>
			</md-input-container>

			<button type="button" value="submit" (click)="SaveWeight(values)" class="btn btn-primary btn-lg btn-block">Guardar</button>
			</form>
		</div>
		<div class="col-xs-12 col-md-6">
			<table class="table table-bordered">
			  <thead class="thead-inverse">
			    <tr>
			      <th>#</th>
			      <th>Fecha</th>
			      <th>Peso</th>
			    </tr>
			  </thead>
			  <tbody>
			  <tr *ngFor="let register of Registers">
			  	<th>{{register.id}}</th>
			  	<td>{{register.fecha}}</td>
			  	<td>{{register.peso}}</td>
			  </tr>
			   <!--  <tr>
			      <th scope="row">1</th>
			      <td>Otto</td>
			      <td>@mdo</td>
			    </tr> -->
			  </tbody>
			</table>
		</div>		
	</div>  
</div>

<div id="talla" class="tabcontent">
  <h3>Talla</h3>
  <p>Paris is the capital of France.</p> 
</div>

<div id="otros" class="tabcontent">
  <h3>Otros</h3>
  <p>En construccion</p>
</div>
