<!--The whole content below can be removed with the new code.-->
<div style="text-align:center;padding: 33px 53px;">
  <h1>
   Bienvenido al Portal
  </h1><br>
  <h2>Linus Llanca</h2>
</div>

<!-- Dashboard -->
<div id="dashboard">
  <div class="row">
    <div class="col-md-4 card text-center">
      <div class="card-header">
        Salud
      </div>
      <div class="card-block">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Ver detalles</a>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>

    <div class="col-md-4 card text-center">
      <div class="card-header">
        Alimentación
      </div>
      <div class="card-block">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Ver detalles</a>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>

    <div class="col-md-4 card text-center">
      <div class="card-header">
        Educación
      </div>
      <div class="card-block">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Ver detalles</a>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
  </div>
</div>